:root {
    --globalWhite: #FFFFFF;
    --globalBlue: #09123c;
    --globalOrange: rgb(255, 170, 40);
}

html {
    scroll-behavior: smooth;
}
.topSegment {
    text-align: center;
    border: solid var(--globalOrange);
    background: linear-gradient(-45deg, #040920, var(--globalBlue),  #0d1a55, var(--globalBlue));
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    border-radius: 10px;
    margin-bottom: 2%;
    height: 300px;
}
.topSegmentBlue {
    text-align: center;
    border: solid var(--globalOrange);
    background: linear-gradient(-45deg, #040920, var(--globalBlue),  #0d1a55, var(--globalBlue));
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    border-radius: 10px;
    margin-bottom: 2%;
}
.middleSegment {
    border: 1px var(--globalBlue) solid;
    border-bottom: none;
    text-align: center;
    background-color: var(--globalWhite);
    color:var(--globalBlue);
    font-size: 2vw;
    font-family: Georgia, serif;
    font-weight: bold;
}
.bottomSegment {
    background-color: var(--globalOrange);
    margin-right: -2px;
    border: 1px groove var(--globalBlue);
}
.totalSegmentWhite {
    text-align: center;
    background-image: url("OriBackgound.jpg");
    color:var(--globalBlue);
}
.totalSegmentBlue {
    text-align: center;
    background: linear-gradient(-45deg, #040920, var(--globalBlue),  #0d1a55, var(--globalBlue));
    background-size: 400% 400%;
    animation: gradient 23s ease infinite;
    color:var(--globalBlue);
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.orienteeringPhoto{
    opacity: 0.8;
    border-radius: 7px;
    height: 100%;
}
.imageText {
    font: "Roboto", Arial, sans-serif;
    color: var(--globalWhite);
    font-size: 9vw;
    transition-duration: 1s;
    text-align: center;
}
@media screen and (min-width: 1000px) {
    .imageText {
      font-size: 80px;
    }
}
.imageTextAnimate {
    text-align: center;
    color: #fffefe61;
    background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
    background-size: 100px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flick 1.5s infinite;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 9vw;
}
@keyframes flick {
    0% {
    background-position: top left;
    }
    100% {
    background-position: top right;
    }
}
@media screen and (min-width: 1000px) {
    .imageTextAnimate {
      font-size: 80px;
    }
}
.ButtonDropdown {
    border: 0px;
    color:var(--globalBlue);
    background-color: var(--globalWhite);
    font-family: 'Lato';
    font-size: 20px;
}
.startButton {
    background-color: var(--globalOrange);
    font-family: Georgia, serif;
    color: var(--globalBlue);
    font-size: 4.5vw;
    transition-duration: .5s;
}
.clock {
    color:var(--globalBlue);
    font-family: 'Lato';
    font-size: 22px;
}
.score {
    font-family: 'Lato';
    font-size: 22px;
}
.firstPlay {
    font-family: Georgia, serif;
    color: var(--globalBlue);
    font-size: 17px;
}
.Instructions {
    font-family: Georgia, serif;
    color: var(--globalBlue);
    font-size: 17px;
}
.beginningScore {
    font-family: Georgia, serif;
    color: var(--globalBlue);
    font-size: 17px;
}
.nameButtons {
    font-weight: bold;
    border: 1px outset black;
    font-family: "Times New Roman", Times, serif;
    color:var(--globalBlue);
}
.imageButtons {
    border: 2px outset black;
}
.veryBottom {
    background-color: var(--globalWhite);
    border: 2px var(--globalBlue) solid;
    border-bottom: none;
    color: var(--globalBlue);
    font-family: Georgia, serif;
}
.numberOfButtons {
    color:var(--globalBlue);
    background-color: var(--globalWhite);
    font-family: 'Lato';
}
@media screen and (max-width: 500px) {
    .numberOfButtons {
      font-size: 15px;
    }
}
.ModeDropdownContainer {
    background-color: var(--globalWhite);
    border-right: .5px solid var(--globalBlue);
}
.ModeDropdown{
    border: 0px;
    color:var(--globalBlue);
    background-color: var(--globalWhite);
    font-family: 'Lato';
    font-size: 16px;
    font-family: Georgia, serif;
}
.BestDiv {
    background-color: var(--globalWhite);
    border-left: .5px solid var(--globalBlue);
}

.flashcardButton {
    background-color: var(--globalWhite);
    color: var(--globalBlue);
    border: ridge var(--globalOrange);
    font-family: Georgia, serif;
}
.flashcardButtonFlipped {
    background-color: var(--globalWhite);
    border: ridge 3px var(--globalOrange);
    color: var(--globalBlue);
    font-family: Georgia, serif;
}
.flashcardButtonNext {
    background-color: var(--globalWhite);
    border: ridge 3px var(--globalOrange);
    color: var(--globalBlue);
    font-family: Georgia, serif;
}
.flashcardButtonNext2 {
    background-color: var(--globalWhite);
    border: ridge 3px var(--globalOrange);
    color: var(--globalBlue);
    font-family: Georgia, serif;
}
.h2Flashcard {
    color: var(--globalBlue);
    font-family: Georgia, serif;
    font-size: 4.5vw;
}
.arrowButtons {
    width: 50%;
    height: 100%;
    background-color: var(--globalWhite);
    border: .5px solid var(--globalBlue);
    transition-duration: .5s;
}
.arrow {
    border: solid var(--globalBlue);
    background-color: var(--globalWhite);
    border-width: 0 7.5px 7.5px 0;
    display: inline-block;
    padding: 10px;
    transition-duration: .5s;
  }
.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
.term {
    background-color: var(--globalWhite);
    color: var(--globalBlue);
    border: solid;
    border-color: var(--globalOrange);
    border-radius: 10px;
    place-items: center;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    width: 51%;
}
.termText {
    font-weight: bold;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    color:var(--globalBlue);
}