:root {
    --globalWhite: #FAFCFF;
    --globalBlue: #09123c;
    --globalOrange: rgb(255, 170, 40);
}

.topSegment {
    text-align: center;
    border: solid var(--globalOrange);
    border-radius: 10px;
    margin-bottom: 2%;
}
.middleSegment {
    text-align: center;
    background-color: var(--globalWhite);
    color:var(--globalBlue);
    font-size: 2vw;
    font-family: Georgia, serif;
    font-weight: bold;
}
.bottomSegment {
    background-color: var(--globalOrange);
    margin-right: -1px;
    margin-left: -1px;
    border: 1px groove var(--globalBlue);
}
.totalSegment {
    text-align: center;
    background: linear-gradient(-45deg, #040920, var(--globalBlue),  #0d1a55, var(--globalBlue));
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    color:var(--globalBlue);
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.orienteeringPhoto{
    opacity: 0.5;
    border-radius: 10px;
}
.imageText {
    font: "Roboto", Arial, sans-serif;
    color: var(--globalWhite);
    font-size: 7vw;
    transition-duration: 1s;
    text-align: center;
}
.imageTextAnimate {
    text-align: center;
    color: #fffefe61;
    background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
    background-size: 110px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flick 1.5s infinite;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7.1vw;
}
@keyframes flick {
    0% {
    background-position: top left;
    }
    100% {
    background-position: top right;
    }
}
.ButtonDropdown {
    border: 0px;
    color:var(--globalBlue);
    background-color: var(--globalWhite);
    font-family: 'Lato';
    font-size: 22px;
}
.startButton {
    background-color: var(--globalOrange);
    font-family: Georgia, serif;
    color: var(--globalBlue);
    font-size: 6vw;
    transition-duration: .5s;
}
.clock {
    color:var(--globalBlue);
    font-family: 'Lato';font-size: 22px;
}
.score {
    font-family: 'Lato'; font-size: 22px;
}
.nameButtons {
    font-weight: bold;
    border: 1px outset black;
    font-family: "Times New Roman", Times, serif;
    color:var(--globalBlue);
}
.imageButtons {
    border: 2px outset black;
}
.veryBottom {
    background-color: var(--globalWhite);
    color: var(--globalBlue);
    font-family: Georgia, serif;
}
.ModeDropdownContainer {
    background-color: var(--globalWhite);
    border-right: .5px solid var(--globalBlue);
}
.ModeDropdown{
    background-color: var(--globalWhite);
    border: 0px;
    font-family: Georgia, serif;
}
.BestDiv {
    background-color: var(--globalWhite);
    border-left: .5px solid var(--globalBlue);
}

.flashcardButton {
    background-color: var(--globalWhite);
    color: var(--globalBlue);
    border: ridge var(--globalOrange);
    font-family: Georgia, serif;
}
.flashcardButtonFlipped {
    background-color: var(--globalWhite);
    border: ridge 3px var(--globalOrange);
    color: var(--globalBlue);
    font-family: Georgia, serif;
}
.h2Flashcard {
    color: var(--globalBlue);
    font-family: Georgia, serif;
    font-size: 4.5vw;
}
.arrowButtons {
    width: 50%;
    height: 100%;
    background-color: var(--globalWhite);
    border: .5px solid var(--globalBlue);
}
.arrow {
    border: solid var(--globalBlue);
    background-color: var(--globalWhite);
    border-width: 0 7.5px 7.5px 0;
    display: inline-block;
    padding: 10px;
  }
.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
.term {
    background-color: var(--globalWhite);
    color: var(--globalBlue);
    border: solid;
    border-color: var(--globalOrange);
    border-radius: 10px;
    place-items: center;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    width: 51%;
    transition: all 20s;
    opacity: 1;
    filter: blur(0);
}
.scroll {
    opacity: 0;
    filter: blur(5px);
}
.termText {
    font-weight: bold;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    color:var(--globalBlue);
}