.topSegment {
    position: relative;
    text-align: center;
}
.middleSegment {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.bottomSegment {
    height: 85%;
    width: 50%; 
    float: left;
    margin-bottom: 50px;
}

.orienteeringPhoto{
    width: 100%;
}
.imageText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
}
.LCHSLogo {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 100px;
    width: 100px;
}
.ROTCLogo {
    position: absolute;
    top: 8px;
    right: 16px;
    height: 100px;
    width: 100px;
}
.startButton {
    flex-basis: 33.333333%;
}
.scoreAndClock{
    flex-basis: 33.333333%;
}
.ButtonDropdown {
    border: none;
}
.dynamicDiv {
    flex-basis: 33.333333%;
}
.imageButtons {
    width: 70px;
    height: 50px;
}
.buttonImage {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 40px;
}
.veryBottom {
    position: fixed;
    bottom: 0;
    width: 98%;
    display: flex;
    flex-direction: row;
}
.ModeDropdownContainer {
    flex-basis: 50%;
    display: inline-block;
}
.BestDiv {
    text-align: center;
    justify-content: center;
    flex-basis: 50%;
}
.Best {
    display: inline-block;
}
.flashcardDiv {
    top: 50%;
    left: 10%;
    right: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    width: 80%;
    height: 275px;
}
.arrowButtons {
    width: 50%;
    height: 100%;
    background-color: #FAFCFF;
}
.flashcardButton {
    width: 80%;
    height: 85%;
    transition-duration: 1s;
    transform: rotateY(0);
}
.flashcardButtonFlipped {
    width: 80%;
    height: 85%;
    transition-duration: 1s;
    transform: rotateY(3.142rad);
}
.flashcardButtonNext {
    width: 80%;
    height: 85%;
    transition-duration: 1s;
    transform: rotatex(3.142rad);
}
.flashcardButtonNext2 {
    width: 80%;
    height: 85%;
    transition-duration: 0s;
    transform: rotatex(0);
}
.termsDiv {
    margin-bottom: 100px;
}